name: CI/CD to AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-west-2

    - name: Login to Amazon ECR
      run: |
        aws ecr get-login-password --region us-west-2 | \
        docker login --username AWS --password-stdin 336670698178.dkr.ecr.us-west-2.amazonaws.com

    - name: Build Docker Image
      run: docker build -t ci-cd-app .

    - name: Tag Docker Image
      run: docker tag ci-cd-app:latest 336670698178.dkr.ecr.us-west-2.amazonaws.com/ci-cd-app:latest

    - name: Push Docker Image
      run: docker push 336670698178.dkr.ecr.us-west-2.amazonaws.com/ci-cd-app:latest
